<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand" id="header-logo">Rqueue</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	  <li class="list-item">
          	  	<a> Search : </a>
          	  </li>
	          <li class="list-item">
	          	<form class="navbar-form navbar-left">
	            	<input type="text" class="form-control" id="search-input" placeholder="Artists, Bands, Songs ">
	            </form>
	          </li>	          
          </ul>

          </div>
      </div>
    </div>
<div class="container">

</div>

